@import url(<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">)
{
margin: 0;
padding: 0;
}

body{
	background-image: linear-gradient( 68.4deg,  rgba(99,251,215,1) -0.4%, rgba(5,222,250,1) 100.2% );
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: roboto-Mono;
}
.h1{
	margin-right: 500px;


}
.header-container{
	width: 530px;
	max-width: 1290px;
	min-height: 90px;
	height: auto;
	padding: 20px;
	color: black;
}
.img-profile{
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
.img-profile-box{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 50px;
}
.link-box{
	width: 100%;
	height: 70px;
	border-radius: 10px;
	background-color: #0652DD;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	cursor: pointer;
	color: #0652DD;
} 
.link-box2{
	width: 100%;
	height: 70px;
	border-radius: 10px;
	background-color: #F1C40F;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	cursor: pointer;
	background-image: linear-gradient( 96.5deg,  rgba(39,103,187,1) 10.4%, rgba(16,72,144,1) 87.7% );

	
}
.imangem{
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

}
}
.footer{
	width: 100%
	height 30px;
	color: #7f8c8d;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-top: 50px;
	color: #7f8c8d;
}
